{% extends "layout.html" %}

{% block body %}
{{ body }}
{% if pagename in ablog %}
{% set post = ablog[pagename] %}
{% if post.author %}
<div class="ablog-post-meta">
  {% for author in post.author %}
    {%- set ns = namespace(url=None) %}
    {%- for key, info in ablog.blog_authors.items() %}
      {%- if info[0] == author|string %}
        {%- set ns.url = info[1] %}
      {%- endif %}
    {%- endfor %}
    Authored by
    {% if ns.url %}
      <a href="{{ ns.url }}">{{ author }}</a>
    {% else %}
      <a href="{{ pathto(author.docname) }}">{{ author }}</a>
    {% endif %}
    {% if not loop.last %}, {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endif %}
{% endblock body %}
